
body{
    background-color: rgb(250, 86, 26);
}

nav{
    background-color: antiquewhite;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content:flex-end;
    margin: 0 auto;
}

nav ul li {
    padding-left: 10rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}
nav ul li:first-child{
    padding-left: 15rem;
}

nav ul li:hover{
    cursor: pointer;
    background-color: rgb(253, 133, 89);
    transition: .3s ease-in;
}

nav ul li:last-child{
    padding-right: 3rem;
}